.container
  = form_for @car do |f|
    .form-row
      .col-3
        .form-group
          = f.label :mark
          = f.select :mark, @mark_list, {}, class: 'custom-select'
      .col-3
        .form-group
          = f.label :model
          = f.select :model, [], {}, { class: 'custom-select', disabled: true }
      .col-3
        .form-group
          = f.label :year
          = f.number_field :year, in: (1970..DateTime.now.year), step: 1, class: 'form-control'

    .form-group
      .form-row
        .col-3
          = f.label :mileage
          = f.text_field :mileage, class: 'form-control'
        .col-3
          = f.label :price
          = f.text_field :price, class: 'form-control'
        .col-3
          = f.label :color
          = f.text_field :color, class: 'form-control'

    .form-group
      = f.label :description
      = f.text_area :description, class: 'form-control'

    .form-group
      = f.label :engine
      = f.text_field :engine, class: 'form-control'
    .form-group
      = f.label :transmission
      = f.select :transmission_id, @transmissions, {}, class: 'custom-select'
    .form-group
      = f.label :fuel
      = f.select :fuel_id, @fuels, {}, class: 'custom-select'
    .form-group
      = f.label :vin
      = f.text_field :vin, class: 'form-control'
    .form-group
      = f.file_field :images, class: 'form-control-file', multiple: true

    .form-group
      = f.submit
