- content_for :head do
  %meta{content: 'no-cache', name: 'turbolinks-cache-control'}/
.car-show
  = link_to @next_car do
    .arrow.prev-car.pointable{title: 'previous car'}
      %i.fa.fa-angle-left

  .section
    = link_to edit_car_path(@car), edit_car_path(@car)
    = react_component 'car/car', car: @car.to_json

  %br
  %br
  %br

  .section
    .row
      .col-4
        .material-card.large
          %br
          %br
          seller info & about announcement
          %br
          %br

      .col-4
        .material-card.large
          %br
          %br
          = react_component 'car/comments', comments: @car.comments.map(&:to_json)
          %br
          %br

      .col-4
        .material-card.large.comments
          %br
          %br
          comments
          %br
          %br


  = link_to @prev_car do
    .arrow.next-car.pointable{title: 'next car'}
      %i.fa.fa-angle-right

  %hr
  .section.material-card.large
    .row
      .col-12
        %br
        %br
        similar cars
        %br
        %br

  %hr
  .section

