.car-show
  .row
    .col-md-3
      = @car.inspect
      = @car.inspect
    .col-md-6.images-wrapper
      %h1.thin
        .float-left
          = @car.title
        .float-right
          = '$' + @car.price.to_s
      = react_component('CarImages', { images: @car.images_to_json })
    .col-md-3
      = @car.inspect
      = @car.inspect
