-#.text-center.save-car-star
  %i.fa.fa-star-o

- content_for :head do
  %meta{content: 'no-cache', name: 'turbolinks-cache-control'}/

%div.car-show{ class: @car.sold ? 'sold' : '' }
  -#- if @similar_cars.index(@car)
  - if @similar_cars
    -#= link_to category_car_path(id: @similar_cars[@similar_cars.index(@car).pred]) do
    = link_to category_car_path(id: @similar_cars.sample) do
      .arrow.prev-car.pointable{title: 'previous car'}
        %i.fa.fa-angle-left

  .section
    - if current_user
      - favorite = current_user.favorites&.where(car_id: @car.id).present?
      - owner = current_user.cars.include?(@car)
    = react_component 'car/car', car: @car.as_hash.merge({favorite: favorite, owner: owner})

  %br
  %br
  %br

  -#.section
  -#  .actions.text-center
  -#    %ul
  -#      %li
  -#        %small Add to Isbrannoe
  -#        %i.fa.fa-star-o

  %br

  .section.cards
    .row
      .col-4
        .material-card.large.about
          %h5.text-center About seller
          - if current_user == @car.seller
            Statistic
          - else
            - if @car.seller
              .media.user-card
                = image_tag @car.seller.avatar, class: 'img-fluid rounded-circle', size: '125x125'
                .media-body
                  .body
                    %div
                      %h5.d-inline.mt-0
                        = @car.seller.name
                        %small.grey
                          = @car.seller.age
                          years
                      %small.grey.float-right
                        since:
                        = time_ago_in_words @car.seller.created_at
                    %p
                      %small.grey
                        = @car.seller.email
                    %p= @car.seller.phone

            - elsif @car.imported
              %p.text-center
                This car was imported from
                = @car.additional_options[:imported_from]
              %p.text-center
                You can view original post at:
                %br
                = link_to @car.additional_options[:original_link], @car.additional_options[:original_link], class: 'underlined'

      .col-4
        .material-card.large.questions
          %h5.text-center Questions & Comments
          = react_component 'car/comments', comments: @car_comments
          - if current_user
            = render '/cars/comments/form'
          - else
            Login to left a comment

      .col-4
        .material-card.large.suggestions-wrapper
          %h5.text-center Swaps & Trades
          = react_component 'car/suggestions', suggestions: @car_suggestions
          - if current_user && current_user != @car.user
            = render '/cars/suggestions'
          - else
            Login to suggest swap


  -#- if @similar_cars.index(@car)
  - if @similar_cars
    -#= link_to category_car_path(id: @similar_cars[@similar_cars.index(@car).next % @similar_cars.size]) do
    = link_to category_car_path(id: @similar_cars.sample) do
      .arrow.next-car.pointable{title: 'next car'}
        %i.fa.fa-angle-right

  - if @similar_cars.present?
    %br
    %hr
    %h3.font-300.text-center Similar cars
    %br
    .section.similar-cars.material-card.large
      .mx-auto
        .row.no-margin
          - @similar_cars.each do |car|
            .col.no-padding
              = link_to category_car_path(id: car) do
                = react_component('car/car_card_small', car.as_card_hash)


  %hr
  .section

