.car-show
  .row
    .left-part.col-md-3
      -#= @car.inspect
      = image_tag 'icons/engine.svg', size: '30x30'
      = image_tag 'icons/car.svg', size: '30x30'
      = image_tag 'icons/gas-station.svg', size: '30x30'
      = image_tag 'icons/gearshift.svg', size: '30x30'
    .col-md-6.images-wrapper
      = react_component('CarImages', { images: @car.images_to_json })
    .right-part.col-md-3
      %h1.thin
        .float-left
          = @car.title
        .float-right
          = '$' + @car.price.to_s
        .clearfix
      = @car.description
