#header.container.material-card.medium.align-middle
  -#%p.notice= notice
  -#%p.alert= alert
  .row
    .col-6
      %ul.nav.justify-content-left
        %li.nav-item
          = link_to 'Home', root_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Cars', category_cars_path, class: 'nav-link'

    .col-6
      .row
        .col-3
          .buy-car.text-center
            = link_to 'Buy', category_cars_path, class: 'nav-link'
        .col-3
          .sale-car.text-center
            = link_to 'Sale', new_car_path, class: 'nav-link', onclick: "window.openLogin(event, #{current_user})"
        .col-6
          .float-right
            - if current_user
              = link_to user_path(current_user.id, tab: 'notifications'), class: 'nav-link d-inline-block' do
                %i.fa.fa-bell-o.notification-bell{class: current_user.notifications.unread.present? ? 'active' : ''}

              = link_to current_user.name, user_path(current_user.id, tab: 'profile'), class: 'nav-link d-inline-block'
              = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link d-inline-block'
              = image_tag current_user.avatar, size: '30x30', class: 'rounded-circle'
            - else current_user
              = link_to 'Login', '#', class: 'nav-link', id: 'sessionLink', 'data-turbolinks' => false
              -#LOGIN
              -#%span.lock-icon-wrapper
                %svg.nav-item.lock-icon{"aria-hidden" => "true", :viewbox => "0 0 14 16", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M3 6.7V3.8A4 4 0 0 1 7 0a4 4 0 0 1 4 3.8v2.9h.9c1.2 0 2.1 1 2.1 2.1v5c0 1.2-1 2.2-2.1 2.2H2.1C.9 16 0 15 0 13.8v-5c0-1.2 1-2.1 2.1-2.1H3zm1.3 0h5.4V3.8c0-1.4-1.2-2.5-2.7-2.5a2.6 2.6 0 0 0-2.7 2.5v2.9zM2.1 8c-.4 0-.7.3-.7.7V14c0 .4.3.8.7.8h9.8c.4 0 .7-.4.7-.8V8.7c0-.4-.3-.7-.7-.7H2.1z"}