!!!
%html
  %head
    %title CarsInUa
    %meta{:content => "no-cache", :name => "turbolinks-cache-control"}
    = csrf_meta_tags
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid
      #header.container.material-card.medium
        -#%p.notice= notice
        -#%p.alert= alert
        %ul.nav.justify-content-center
          %li.nav-item
            = link_to 'Home', root_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Cars', cars_path, class: 'nav-link'
          - if current_user
            %li.nav-item.nav-link
              = link_to current_user.email, user_path(current_user.id)
            %li.nav-item.nav-link
              = link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            %li.nav-item
              = link_to 'Sign in', new_user_session_path, class: 'nav-link'
            %li.nav-item
              = link_to 'Sign up', new_user_registration_path, class: 'nav-link'
    .container-fluid
      #wrapper
        = yield

    #footer
      %h1 nogi
