!!!
%html
  %head
    %title CarsInUa
    %meta{:content => "no-cache", :name => "turbolinks-cache-control"}
    = csrf_meta_tags
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - unless current_user
      #sessionSection
        .container-fluid
          .row
            .col-7.overlay
            .col-5.session.material-card.extra-large
              -#.i.fa.fa-times.close-button
              .login-form
                = render template: 'devise/sessions/new'
              .signup-form.d-none
                = render template: 'devise/registrations/new'

    .body
      -#= render '/shared/modal', id: 'signin222', title: 'Sign in'
      .container-fluid
        = render 'layouts/header'

      .container-fluid
        #wrapper
          = yield

      = render 'layouts/footer'